body {
    background-color: #e9ce9c;
     }
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: right;
  font-size: 60px;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 10px; 
  }

p { 
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
color: #000000;
text-align: right;
font-size: 25px;
/* padding-right: 100px; */
}

img { 
  /* float:left; */
  padding-left:10px;    
  }    

.nav-wrapper{
 display: flex;
 padding: 15px;
 background color: #FFFF00;
 
}

.nav-wrapper > div {

 margin: 1 px;
 padding: 20px;
 text-transform: uppercase;
}

.nav-link-wrap{
 height: 8px;
 border-bottom: 2px solid transparent;
 transition: border-bottom 0.5s;

}

.nav-link-wrap a {
 color:#000000;
 text-decoration: none;
 transition: color 0.5s;

}
.nav-link-wrap:hover {
 border-bottom: 2px solid #000000;
}

.nav-link-wrap a:hover {
 color: solid #000000;
}

.home
{
    display: grid;
    grid-template-columns: auto auto;
}

.about
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutleft
{
    display: grid;
    grid-template-rows: auto auto;

}

.aboutright
{
    display: grid;
    grid-template-rows: auto auto;
}

.work
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.workleft
{
    display: grid;
    grid-template-rows: auto auto;
}

.contact
{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contactright
{
    display: grid;
    grid-template-rows: auto auto;

}
