body {
    width: 100%;
    
    background: linear-gradient(-45deg, #f0ee7f, #f1f502d3, #e75d44, #cf7d20);
    background-size: 400% 400%;
    position: relative;
    animation: shift 10s ease-in-out infinite;
     }

@keyframes shift{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: justify;
  font-size: 60px;
  padding-top: 100px;
  padding-right: 10px;
  padding-left: 0px;
  padding-bottom: 10px; 
  }
.typewriter {
  overflow: hidden;
  white-space: nowrap;  
  animation: animated-text 2s steps(25,end) 1s 1 normal both;
  margin: 0 auto;  
}
@keyframes animated-text {
    from{width:0;}
    to{width:100%;}
}
h2 { 
    font-size: 45px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   
   text-align: left;
}
h3{
    padding-top: 100px;
    
    text-align: justify;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 35px;
}
h4{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 24px;
    text-align: left;
}
p { 
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
color: #000000;
text-align: justify;
font-size: 25px;
padding-right: 100px;  
}
img { 
    
    align-content: center;
}
.nav-wrapper{
    position: fixed;
    top: 0;  
 display: flex;
 padding: 15px;
 background-color: #000000;
 width: 100% ;
 
}

.nav-wrapper > div {

 margin: 1 px;
 padding: 20px;
 text-transform: uppercase;
 font-size: 1.5em;
}

.nav-link-wrap{
 height: 8px;
 border-bottom: 2px solid transparent;
 transition: border-bottom 0.5s;

}

.nav-link-wrap a {
 color:#e7d912d3;
 text-decoration: none;
 transition: color 0.5s;

}
.nav-link-wrap:hover {
 border-bottom: 2px solid #e7d912d3;
}

.nav-link-wrap a:hover {
    background-color: #000000;
    color: solid #e7d912d3 ;
}
.home{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 60px;
    padding-top:50px;
    
}
.homeimage{
    padding-top: 20px;
    padding-left: 60px;
}

.about{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:50px;
    padding-bottom: 40px;
    padding-right:50px; 
}

.aboutleft{
    padding-left: 60px;
}
.aboutright{
    padding-right: 50px;
}
 .work{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:50px;
 }

 .workleft{
     padding-left: 60px;
 }

 .workright{
     padding-right: 50px;
 }

 .contact
 {
    margin-top: 100px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .contactleft{
     padding-left: 60px;
     padding-bottom: 100;
 }

 .contactright{
     padding-left: 50px;
     padding-top: 30px;
 }

 .address{
     display: grid;
     grid-template-columns: 300px 300px;

 }
