body {
    background-color: #e9ce9c;
     }
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: right;
  font-size: 60px;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 10px;
  padding-bottom: 10px; 
  }

p { 
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
color: #000000;
text-align: right;
font-size: 25px;
padding-right: 100px;
}
img { 
    padding:50px;
}
.nav-wrapper{
 display: flex;
 padding: 15px;
 background color: #FFFF00;
 
}

.nav-wrapper > div {

 margin: 1 px;
 padding: 20px;
 text-transform: uppercase;
}

.nav-link-wrap{
 height: 8px;
 border-bottom: 2px solid transparent;
 transition: border-bottom 0.5s;

}

.nav-link-wrap a {
 color:#000000;
 text-decoration: none;
 transition: color 0.5s;

}
.nav-link-wrap:hover {
 border-bottom: 2px solid #000000;
}

.nav-link-wrap a:hover {
 color: solid #000000;
}
.home
{
    display: grid;
    grid-template-columns: auto auto;
}

.about
{
    display: grid;
    grid-template-columns: auto auto;
}

.item1
{
   grid-coloumn: 1;
 }

.item2
{
   grid-coloumn-start: 2;
}

.work
{
    display: grid;
    grid-template-columns: auto auto;
}

.workleft
{
    display: grid;
    grid-template-rows: auto auto;
}

.contact
{
    display: grid;
    grid-template-columns: auto auto;

}

.contactright
{
    display: grid;
    grid-template-rows: auto auto;

}
