body {
    background-color: #e9ce9c;
     }
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  font-size: 60px;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 0px;
  padding-bottom: 10px; 
  }
h2 { 
    font-size: 45px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   padding: 30px;
}
h3{
    text-align: justify;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 35px;
}
p { 
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
color: #000000;
text-align: justify;
font-size: 25px;
padding-right: 100px;  
}
img { 
    padding:40px;
    align-content: center;
}
.nav-wrapper{
    position: fixed;
    top: 0;  
 display: flex;
 padding: 15px;
 background-color: #000000;
 width: 100% ;
 
}

.nav-wrapper > div {

 margin: 1 px;
 padding: 20px;
 text-transform: uppercase;
}

.nav-link-wrap{
 height: 8px;
 border-bottom: 2px solid transparent;
 transition: border-bottom 0.5s;

}

.nav-link-wrap a {
 color: #e9ce9c;
 text-decoration: none;
 transition: color 0.5s;

}
.nav-link-wrap:hover {
 border-bottom: 2px solid #e9ce9c;
}

.nav-link-wrap a:hover {
    background-color: #000000;
    color: solid #e9ce9c ;
}
.home{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.about{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 .work{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .contact
 {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
